body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100vw;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    height: 50px;
    position: fixed;
    top:0;
    width:100vw;
    background-color: white;
    z-index: 99;
}
main {
    flex:1;
    /* min-height: calc(100vh - 10vh - 50px); */
    overflow: hidden;
    margin-top: 50px;
}
footer {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
    min-height: 10vh;
}
.footer-content-div{
    margin: 0 5vw
}
.footer-list{
    list-style-type: none;
    padding:0;
    margin:0
}
.footer-header{
    font-size: 1rem;
    color: gray;
    font-weight: bold;
}

#footer-logout-button{
    border: none;
    background-color: transparent;
    padding: 0;
    color: gray;
}
#footer-logout-button:hover{
    text-decoration: underline;
}
p{
    margin:0 !important
}

/* body{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    height:100%
} */
/* header{
    flex: 0 0 5%;
    background-color: white;
} */
/* main stylings */
/* main{
    height:calc(100vh - 50px);
    width: 100vw;
    display:flex;
    overflow-x: hidden;
    position: absolute;
    flex:1;
    margin-top: 3.5%;
}
main>*{
    padding:0 10px
} */

p, a{
    color: gray !important;
}

.material-symbols-outlined{
    cursor: pointer;
    padding-left: 1%;
}

.comment-div{
    padding-left: 1%;
}

#show-review-form{
    cursor: pointer;
}

.comment-div:hover .action-box{
    display:flex;
}

.review-div:hover .action-box{
    display:flex;
} 

.btn{
    padding:0 !important;
    /* min-width:50px */
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.like-count, .comment-count{
    font-size: 14px;
    padding-left: 2px;
}
.fa-comment{
    padding-left: 4px;
}

.comment-div > p, .review-div > p{
    margin:0
}

.outer-comments-span:hover, #show-review-form:hover{
    text-decoration: underline;
}

.deleted, .added{
    color:rgb(145, 142, 142)
}

.saved{
  font-variation-settings:
  'FILL' 1
}

.star{
    font-variation-settings:
    'FILL' 0;
    padding:0
    
}

#diary-entry{
    display:flex
}
.half{
    width:50%
}

.diary-input{
    width:60%;
    display:flex;
    justify-content: space-between;
}

.asterisk{
    font-size: 10px;
}

.grey{
    background:rgb(147, 147, 147) !important;
    color:white !important;
}

.recent-review-div, .popular-review-div{
    display:flex;
    justify-content: space-around;
    overflow: scroll;
    height:max(20vh, 150px);
}

.customSearchResultClass{
    font-weight: bold;
    color: blueviolet !important;
}
#avg_rating, .avg_ratings{
    display:flex;
    /* width:100% */
}

.avg_star::before, .new_star::before {
    display:flex;
    content: '\f005';
    font-family: 'Font Awesome 6 Free';
    overflow:hidden;
}
.avg_star, .new_star{
    color: #ddd;
    font-weight: 900;
}

.partial::before{
    background: linear-gradient(90deg, gray var(--percent), #ddd var(--percent), #ddd 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .avg_star::before {
    width: var(--percent, 0);
} */

#avg-rating-holder{
    display:flex
}

.rating-holder{
    display:flex
}


/* index page */
    /* top banner stylings */
    #top-banner{
        display:flex;
        justify-content:center;
        padding: 10px 0
    }
    #logout-button, #login-button{
        border:none;
        background-color: transparent;
        color:rgb(42, 42, 42);
    }
    #top-banner > *{
        margin: 0 1%;
        color:rgb(42, 42, 42);
    }
    #top-banner > *:hover{
        text-decoration: none;   
    }

    /* title and search bar */
    #welcome-div{
        height:max(45vh, 400px);
        align-content: center;
        position:relative;
    }
    #index-title{
        text-align: center;
        width:100%;
        color: seashell;
        font-size: 35px;
        font-family: 'Font Awesome 6 Free';        
    }
    .sub-heading{
        font-size: 20px;
        font-family: 'Font Awesome 6 Free';
        color: gray;
        margin:0;
        padding: 15px 0 0 5px;
    }
    .video-holder{
        width:100%;
        height:100%
    }
    #coffee-pour{
        width:110vw;
        height:100%;
        object-fit:cover;
        z-index:-100;
        position: relative;
        left:-10%
    }
    #welcome-info{
        position:absolute;
        top:30%;
        height:40%;
        width:500px;
        left:calc(50% - 250px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .search-bar{
        background-color: white;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
        width:100%
    }
    .search-button{
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        width: 10%;
        color: grey;
    }
    .search-text{
        border: none;
        background-color: transparent;
        width:90%;
        margin: 1% 2% 1% 5%;
        padding:0;
        font-size: 20px;
    }
    #play-pause-button{
        position: relative;
        top:-50px;
        border:none;
        background-color: transparent;
        color: seashell !important;
        left:calc(100vw - 75px);
        color: seashell;
        
        
    }

/* short coffee-display */
.short-coffee-display{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:100%
}
.action-box-holder{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.justify-center{
    justify-content: center;
}
.coffee-link{
    display: flex;
    flex-direction: column;
    height:70%;
    align-items: center;
    justify-content: space-between;
}
.coffee-link>p{
    text-align: center;
    height:10%;
    color: gray;
}

.coffee-link>img{
    height:80%;
    width: fit-content; 
    border-radius: 100px;
}

.recent-coffee-div, .search-coffee-display{
    height: max(30vh, 200px);
    padding-top: 15px;
    padding-bottom: 15px;
    width:100vw;
    display:flex;
    justify-content: space-around;
}

.review-div{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0% 0.5% 0% 0.5%;
    margin:0.5% 0;
}

.bookmark, .add-diary, .avg_star, #avg-rating-count, .fa-heart, .like-count, .fa-comment, .delete-review, .edit-review-comment, .delete{
    color: gray;
}

.restrict-25-chars{
    width: 30ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.review-action-box{
    display:flex;
    align-items: center;
}

.brown-heading{
    /* background-color: rgba(160, 117, 85, 0.459); */
    background-image: linear-gradient(white,20%,  rgba(160, 117, 85, 0.459), 45%, rgba(160, 117, 85, 0.459));
}
.brown{
    /* background-color: rgba(160, 117, 85, 0.459); */
    background-image: linear-gradient(rgba(160, 117, 85, 0.459),90%,rgba(160, 117, 85, 0.459), 98%,  white);
}

.comment-count{
    color: gray
}

/* coffee page styling */
.long-coffee-display-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3vh 25vw;
    height: max(35vh, 300px);
    background-color: rgb(248, 250, 240);
    padding: 2vh;
    border-radius: 50px;
}
.coffee-image>img{
    height:100%;
    border-radius: 20px;
}

.coffee-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.title, .key{
    font-weight: bold;
}

.review-container{
    padding: 15px 20px;
    margin: 10px 10vw;
    background-color: rgb(248, 250, 240);
    border-radius: 30px;
}

.outer-comment-div{
    display:none;
    margin:20px 0 20px 20px;
}

.outer-comments-span{
    cursor: pointer;
    padding-left: 0.5%;
    color: gray;
}

.inner-comments-span{
    color: gray;
}

.reply{
    border-left: 1px solid rgba(0, 0, 0, 0.502);
    margin-left: 70px;
}
.restrict-200-chars{
    /* width: 200ch; */
    height:4ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 7.5em; /* number of lines * line-height (assumed 1.5em) */
    line-height: 1.5em; /* adjust this to your line height */
}

.center{
    text-align: center;
}
.line{
    display: inline-block;
    position: relative;
    width:calc(100% - 20vw);
    color:gray;
    margin: 0 10vw;
}
.line::before, .line::after{
    background-color: gray;
    content: '\a0';
    width: 45%;
    position: absolute;
    height: 1px;
    top: 50%;
}
.line::before{
    left:0;
}
.line::after{
    right:0;
}
#show-review-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 2vh;
    width: fit-content;
    background-color: rgb(248, 250, 240);
    border-radius: 20px;
    padding: 3px 40px;
}

#review-form{
    display:none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
}

button{
    background-color: rgb(248, 250, 240);
    border: none;
    border-radius: 20px !important;
    padding: 0.1rem 2rem;
}

.comment-form>button{
    background-color: white;
}

textarea{
    border: 1px solid gray;
    border-radius: 10px 10px 0 10px;
}

#star-rating{
    display:flex;
    padding-bottom: 5px;
}

/* single review view */
#single-review-coffee{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 10px auto 30px auto;
    justify-content: center;
    text-align: center;
    padding: 20px 40px;
    background-color: rgb(248, 250, 240);
    border-radius: 50px;
}

#single-review-coffee>h4{
    color:gray;
    font-size: 1.25rem;
}
#return-to-coffee{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
#return-to-coffee>*{
    padding-right:5px
}

.no-hover:hover{
    text-decoration: none;
}

.modal-dialog{
    width: fit-content !important;
    max-width: none !important;
}

/* search coffee page */


.search-coffee-display{
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    border-radius: 50px;
    background-color: rgb(248,250,240);
}
.search-bar-container{
    width: 50%;
    border: 1px solid gray;
    border-radius: 20px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 500px;
}
.search-bar-container>.search-bar{
    width:70%
}
.sort-contianer{
    width: 25%;
    border: none;
    border-left: 1px solid gray;
    background-color: transparent;
    font-size: medium;
    color: gray;
}
.sort-contianer:hover{
    cursor: pointer;
}
.search-bar-container>.search-bar>.search-button{
    padding:0;
    width:fit-content
}
.search-bar-container>.search-bar>.search-text{
    font-size: medium;
}
.pagination>*{
    color: gray;
}
.pagination{
    justify-content: center;
    margin:20px auto
}
.pagination>.step-links>a:hover{
    cursor: pointer;
}
.step-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}