

.material-symbols-outlined{
    cursor: pointer;
    padding-left: 1%;
}

.comment-div{
    padding-left: 1%;
}

.review-container{
    border-bottom: 1px solid black;
    padding:15px 0;
}

.reply{
    border-left: 1px solid rgba(0, 0, 0, 0.502);
    margin-left: 4%;
}

#review-form{
    display:none
}

#show-review-form{
    cursor: pointer;
}

.action-box{
    display:flex
}

.comment-div:hover .action-box{
    display:flex;
}

.review-div:hover .action-box{
    display:flex;
} 

.btn{
    padding:0 !important;
    min-width:50px
}

.comment-div > p, .review-div > p{
    margin:0
}

.outer-comment-div, .review-div{
    margin:0.5% 0;
}

.outer-comment-div{
    display:none
}

.outer-comments-span{
    cursor: pointer;
}

.outer-comments-span:hover, #show-review-form:hover{
    text-decoration: underline;
}
.review-div{
    padding-bottom: 1%;
}

.deleted, .added{
    color:rgb(145, 142, 142)
}

.saved{
  font-variation-settings:
  'FILL' 1
}

.star{
    font-variation-settings:
    'FILL' 0;
    padding:0
    
}

#star-rating{
    display:flex
}
#diary-entry{
    display:flex
}
.half{
    width:50%
}

.diary-input{
    width:60%;
    display:flex;
    justify-content: space-between;
}

.restrict-100-chars{
    width: 50ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.asterisk{
    font-size: 10px;
}

.grey{
    background:rgb(147, 147, 147) !important;
    color:white !important;
}

.recent-coffee-div, .recent-review-div, .popular-review-div{
    width:100vw;
    display:flex;
    justify-content: space-around;
    overflow: scroll;
}

.search_coffee_container{
    display: flex;
    flex-wrap: wrap;   
}

.customSearchResultClass{
    font-weight: bold;
    color: blueviolet !important;
}
#avg_rating, .avg_ratings{
    display:flex;
    /* width:100% */
}

.avg_star::before, .new_star::before {
    display:flex;
    content: '\f005';
    font-family: 'Font Awesome 6 Free';
    overflow:hidden;
}
.avg_star, .new_star{
    color: #ddd;
    font-weight: 900;
}

.partial::before{
    background: linear-gradient(90deg, black var(--percent), #ddd var(--percent), #ddd 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .avg_star::before {
    width: var(--percent, 0);
} */

#avg-rating-holder{
    display:flex
}

.rating-holder{
    display:flex
}
