body{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    height:100%
}

p, a{
    color: gray !important;
}

.material-symbols-outlined{
    cursor: pointer;
    padding-left: 1%;
}

.comment-div{
    padding-left: 1%;
}

.review-container{
    border-bottom: 1px solid black;
    padding:15px 0;
}

.reply{
    border-left: 1px solid rgba(0, 0, 0, 0.502);
    margin-left: 4%;
}

#review-form{
    display:none
}

#show-review-form{
    cursor: pointer;
}

.comment-div:hover .action-box{
    display:flex;
}

.review-div:hover .action-box{
    display:flex;
} 

.btn{
    padding:0 !important;
    min-width:50px
}

.comment-div > p, .review-div > p{
    margin:0
}

.outer-comment-div, .review-div{
    margin:0.5% 0;
}

.outer-comment-div{
    display:none
}

.outer-comments-span{
    cursor: pointer;
}

.outer-comments-span:hover, #show-review-form:hover{
    text-decoration: underline;
}
.review-div{
    padding: 0% 0.5% 1% 0.5%;
}

.deleted, .added{
    color:rgb(145, 142, 142)
}

.saved{
  font-variation-settings:
  'FILL' 1
}

.star{
    font-variation-settings:
    'FILL' 0;
    padding:0
    
}

#star-rating{
    display:flex
}
#diary-entry{
    display:flex
}
.half{
    width:50%
}

.diary-input{
    width:60%;
    display:flex;
    justify-content: space-between;
}

.asterisk{
    font-size: 10px;
}

.grey{
    background:rgb(147, 147, 147) !important;
    color:white !important;
}

.recent-review-div, .popular-review-div{
    width:100vw;
    display:flex;
    justify-content: space-around;
    overflow: scroll;
    height:max(15%, 150px);
}

.search_coffee_container{
    display: flex;
    flex-wrap: wrap;   
}

.customSearchResultClass{
    font-weight: bold;
    color: blueviolet !important;
}
#avg_rating, .avg_ratings{
    display:flex;
    /* width:100% */
}

.avg_star::before, .new_star::before {
    display:flex;
    content: '\f005';
    font-family: 'Font Awesome 6 Free';
    overflow:hidden;
}
.avg_star, .new_star{
    color: #ddd;
    font-weight: 900;
}

.partial::before{
    background: linear-gradient(90deg, black var(--percent), #ddd var(--percent), #ddd 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .avg_star::before {
    width: var(--percent, 0);
} */

#avg-rating-holder{
    display:flex
}

.rating-holder{
    display:flex
}


/* main stylings */
main{
    height:calc(100vh - 50px);
    width: 100vw;
    display:flex;
    overflow-x: hidden;
    position: absolute;
    flex:1;
    margin-top: 3.5%;
}
main>*{
    padding:0 10px
}
header{
    flex: 0 0 5%;
    background-color: white;
}
/* index page */
    /* top banner stylings */
    #top-banner{
        display:flex;
        justify-content:center;
        padding: 10px 0
    }
    #logout-button, #login-button{
        border:none;
        background-color: transparent;
        color:rgb(42, 42, 42);
    }
    #top-banner > *{
        margin: 0 1%;
        color:rgb(42, 42, 42);
    }
    #top-banner > *:hover{
        text-decoration: none;   
    }

    /* title and search bar */
    #welcome-div{
        height:max(45vh, 400px);
        align-content: center;
        position:relative;
    }
    #index-title{
        text-align: center;
        width:100%;
        color: seashell;
        font-size: 35px;
        font-family: 'Font Awesome 6 Free';        
    }
    .sub-heading{
        font-size: 20px;
        font-family: 'Font Awesome 6 Free';
        color: gray;
        margin:0;
        padding-top: 15px;
    }
    .search-bar{
        text-align: center;
        width:100%
    }
    .video-holder{
        width:100%;
        height:100%
    }
    #coffee-pour{
        width:110vw;
        height:100%;
        object-fit:cover;
        z-index:-100;
        position: relative;
        left:-10%
    }
    #welcome-info{
        position:absolute;
        top:30%;
        height:40%;
        width:500px;
        left:calc(50% - 250px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .search-bar{
        background-color: seashell;
        border-radius: 20px;
        display: flex;
        justify-content: center;
    }
    .search-button{
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        width: 10%;
        color: grey;
    }
    .search-text{
        border: none;
        background-color: transparent;
        width:90%;
        margin: 1% 2% 1% 5%;
        padding:0;
        font-size: 20px;
    }
    #play-pause-button{
        position: relative;
        top:-50px;
        border:none;
        background-color: transparent;
        color: seashell !important;
    }

/* short coffee-display */
.short-coffee-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%
}
.action-box-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}
.coffee-link{
    display: flex;
    flex-direction: column;
    height:70%;
    align-items: center;
}
.coffee-link>p{
    text-align: center;
    height:10%;
    color: gray;
}

.coffee-link>img{
    height:80%;
    width: fit-content; 
    border-radius: 100px;
}

.recent-coffee-div{
    height: max(25%, 200px);
    padding-top: 15px;
    padding-bottom: 15px;
    width:100vw;
    display:flex;
    justify-content: space-around;
}

.review-div{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bookmark, .add-diary, .avg_star, #avg-rating-count, .fa-heart, .like-count, .fa-comment{
    color: gray;
}

.restrict-25-chars{
    width: 30ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.review-action-box{
    display:flex;
    align-items: center;
}

.brown-heading{
    /* background-color: rgba(160, 117, 85, 0.459); */
    background-image: linear-gradient(white,20%,  rgba(160, 117, 85, 0.459), 45%, rgba(160, 117, 85, 0.459));
}
.brown{
    /* background-color: rgba(160, 117, 85, 0.459); */
    background-image: linear-gradient(rgba(160, 117, 85, 0.459),90%,rgba(160, 117, 85, 0.459), 98%,  white);
}

.comment-count{
    color: gray
}



/* footer styling */
