{% extends 'base.html' %}
{% load static %}


{% block content %}    
    <form action="{% url 'login' %}" method="post" class="register-form">
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %}
        <div>
            <input type="hidden" name="next" value="{{ next }}">
            {{form.username}}
            {{form.password}}

            <button>Login</button>
        </div>
    </form>
{% endblock content %}