{% extends 'base.html' %}
{% load static %}


{% block content %}
    <form id="search-form">
        <input type="text" value="{{search_query}}" name="search" placeholder="Search by coffee or roaster..." >
        <button type="submit">Search</button>
    </form>
    <a href="{% url 'all_coffees' %}"><button type="button">Reset</button></a>
    <div class="sort">
        <select id="sort-options">
            <option value="avg_rating" {% if sort_order == 'avg_rating' %}selected{% endif %}>Average Rating</option>
            <option value="count_rating" {% if sort_order == 'count_rating' %}selected{% endif %}>Review Count</option>
            {% comment %} <option value="a_z_desc">A-Z</option>
            <option value="a_z_asc">Z-A</option> {% endcomment %}
        </select>
    </div>
    <div class="search_coffee_container">
        {% if coffees %}
        {% for coffee in coffees %}
            <div class="coffee">
                {% include 'coffee_display_template.html' with coffee=coffee diary=True in_diary=coffee.in_diary%}
            </div>
        {% endfor %}
        {% else %}
            <p>Your search returned no coffees....</p>
        {% endif %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if coffees.has_previous %}
                <a onclick="changePage(1)">&laquo; first</a>
                <a onclick="changePage({{ coffees.previous_page_number }})">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ coffees.number }} of {{ coffees.paginator.num_pages }}
            </span>
    
            {% if coffees.has_next %}
                <a onclick="changePage({{ coffees.next_page_number }})" >next</a>
                <a onclick="changePage({{ coffees.paginator.num_pages }})" >last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock content %}


{% block scripts %}
    <script>
        var csrfToken = "{{ csrf_token }}";
        var like_url = "{% url 'like_item' 1 %}".replace('1','')
        var bookmark_url = "{% url 'bookmark_coffee' 1 %}".replace('1','')
        var diary_url = "{% url 'add_to_diary' 1 %}".replace('1','')
        var diary_page=false
    </script>
    <script src="{% static 'like-button.js' %}" id="url"></script>
    <script src="{% static 'star-rating.js' %}" id="url"></script>
    <script src="{% static 'bookmark.js' %}" id="url"></script>
    <script src="{% static 'add-diary.js' %}" id="url"></script>
    <script src="{% static 'search.js' %}" id="url"></script>
{% endblock scripts %}
    
    