{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="search-bar-container">
        <form id="search-form" class="search-bar">
            <input type="text" class="search-text" value="{{search_query}}" name="search" placeholder="Search by coffee or roaster..." >
            <button class="search-button" type="submit"><span class="material-symbols-outlined">search</span></button>
        </form>
        <select id="sort-options" class="sort-contianer">
            <option value="avg_rating_desc" {% if sort_order == 'avg_rating_desc' %}selected{% endif %}>Average Rating</option>
            <option value="count_rating_desc" {% if sort_order == 'count_rating_desc' %}selected{% endif %}>Review Count</option>
            <option value="title_asc" {% if sort_order == 'title_asc' %}selected{% endif %}>Name (a-z)</option>
            <option value="title_desc" {% if sort_order == 'title_desc' %}selected{% endif %}>Name (z-a)</option>
            <option value="roaster_asc" {% if sort_order == 'roaster_asc' %}selected{% endif %}>Roaster (a-z)</option>
            <option value="roaster_desc" {% if sort_order == 'roaster_desc' %}selected{% endif %}>Roaster (z-a)</option>
            <option value="date_added_desc" {% if sort_order == 'date_added_desc' %}selected{% endif %}>Most Recent</option>
        </select>
        <div class="pagination-selector">
            <span>Items per page:</span>
            <select id="items-per-page-options" class="sort-contianer">
                {{items_per_page}}
                <option value="3" {% if items_per_page == '3' %}selected{% endif %}>3</option>
                <option value="5" {% if items_per_page == '5' %}selected{% endif %}>5</option>
                <option value="10" {% if items_per_page == '10' %}selected{% endif %}>10</option>
            </select>
        </div>
    </div>
    
    <div class="search-coffee-display">
        {% if coffees %}
        {% for coffee in coffees %}
            {% include 'short_coffee_display_template.html' with coffee=coffee diary=True in_diary=coffee.in_diary%}
        {% endfor %}
        {% else %}
            <p>Your search returned no coffees....</p>
        {% endif %}
    </div>
    
    {% if coffees %}
        <div class="pagination">
            <span class="step-links">
                <div>
                    {% if coffees.has_previous %}
                        <a onclick="changePage(1)"><span class="material-symbols-outlined">
                            first_page
                            </span></a>
                        <a onclick="changePage({{ coffees.previous_page_number }})"><span class="material-symbols-outlined">
                            keyboard_arrow_left
                            </span></a>
                    {% endif %}
                </div>
                <span class="current">
                    Page {{ coffees.number }} of {{ coffees.paginator.num_pages }}
                </span>
                <div>
                    {% if coffees.has_next %}
                        <a onclick="changePage({{ coffees.next_page_number }})" ><span class="material-symbols-outlined">
                            keyboard_arrow_right
                            </span></a>
                        <a onclick="changePage({{ coffees.paginator.num_pages }})" ><span class="material-symbols-outlined">
                            last_page
                            </span></a>
                    {% endif %}
                </div>
            </span>
        </div>
    {% endif %}
{% endblock content %}


{% block scripts %}
    <script>
        var csrfToken = "{{ csrf_token }}";
        var like_url = "{% url 'like_item' 1 %}".replace('1','')
        var bookmark_url = "{% url 'bookmark_coffee' 1 %}".replace('1','')
        var diary_url = "{% url 'add_to_diary' 1 %}".replace('1','')
        var diary_page=false
    </script>
    <script src="{% static 'like-button.js' %}" id="url"></script>
    <script src="{% static 'star-rating.js' %}" id="url"></script>
    <script src="{% static 'bookmark.js' %}" id="url"></script>
    <script src="{% static 'add-diary.js' %}" id="url"></script>
    <script src="{% static 'search.js' %}" id="url"></script>
{% endblock scripts %}
    
    