{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form method="post" enctype="multipart/form-data" id="coffee-form">
        {% csrf_token %}
        
        {% if form.errors %}
        <p>{{form.errors.non_field.as_text}}</p>
            
        {% endif %}
        <div id="coffee-form-input-div">
            {{form}}
        </div>
        <button>Submit</button>
    </form>

    <h4 class="sub-heading center">Add a new feature...</h4>
    <form id="coffee-element-form">
        <div>
            <label for="coffee-element">New Element:</label>
            <div>
                <input type="text" id="coffee-element" name="coffee_element" placeholder="Name...">
                <select name="data-type" id="coffee-element-type">
                    <option value="text">Text</option>
                    <option value="date">Date</option>
                    <option value="number">Number</option>
                </select>
            </div>
        </div>
        <button onclick="addElement()">Add</button>
    </form>
{% endblock content %}


{% block scripts %}
    <script src="{% static 'coffee-form.js' %}" id="url"></script>
    <script src="{% static 'generate-html.js' %}" id="url"></script>
{% endblock scripts %}

    

    