{% extends 'base.html' %}
{% load static %}
    
{% block head %}
    <!-- Handsontable CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">
    <!-- Handsontable JS -->
    <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock head %}
        
{% block content %}
    <div class="modal fade" id="editCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Write Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="edit-form">
                        {% csrf_token %}
                        <div>
                            <textarea name="content" cols="40" rows="10" required id="id_content"></textarea>
                        </div>
                        <input type="hidden" name="rating" placeholder="Rating" required id="id_rating">
                        <div id="star-rating">
                            <span class="new_star" value="1"></span>
                            <span class="new_star" value="2"></span>
                            <span class="new_star" value="3"></span>
                            <span class="new_star" value="4"></span>
                            <span class="new_star" value="5"></span>
                        </div>
                        <button>SUBMIT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="controls-container">
        <div class="controls">
            <input id="search_field" type="search" placeholder="Filter diary...">
        </div>
        <output class="console" id="output">0 results</output>
    </div>
    <div id="handsontable-container"></div>
    <p class="asterisk">*right click a cell to edit or view the diary entry seprately</p>
    <div>
        <div class="search-bar-container diary-search-bar">
            <form id="search-form" class="search-bar">
                <input type="text" value="{{search_query}}" name="search" class="search-text" placeholder="Search for coffee or roaster...">
                <button type="submit" class="search-button"><span class="material-symbols-outlined">search</span></button>
            </form>
            <button id="reset_button"><span class="material-symbols-outlined">undo</span></button>
        </div>
        <div class="search-coffee-container search-coffee-display" id="coffee_search"></div>
    </div>
    <div class="pagination" id="pagination_holder">
        <span class="step-links">
            <span id="pagination_previous_holder"></span>
            <span id="pagination_text"></span>
            <span id="pagination_next_holder"></span>
        </span>
    </div>
{% endblock content %}
            

{% block scripts %}
    <script>
        var generate_diary_url = "{% url 'generate_diary' %}"
        var diary_entry_url = "{% url 'diary_entry' 1 %}".replace("1","")
        var edit_diary_url = "{% url 'edit_diary' 1 %}".replace("1","")
        var delete_diary_entry = "{% url 'delete_diary_entry' 1 %}".replace("1", "")
        var get_coffee_from_diary = "{% url 'get_coffee_from_diary' 1 %}".replace("1","")
        var review_from_diary = "{% url 'review_from_diary' 1 %}".replace("1","")
        var all_coffee = "{% url 'all_coffees' %}"
        var diary_url = "{% url 'add_to_diary' 1 %}".replace('1','')
        var like_url = "{% url 'like_item' 1 %}".replace('1','')
        var bookmark_url = "{% url 'bookmark_coffee' 1 %}".replace('1','')
        var csrfToken = "{{ csrf_token }}";
        var re_run_table_bool=true;
        var diary_page=true;
    </script>
    <script src="{% static 'diary.js' %}" id="url"></script>
    <script src="{% static 'add-diary.js' %}" id="url"></script>
    <script src="{% static 'star-rating.js' %}" id="url"></script>
    <script src="{% static 'bookmark.js' %}" id="url"></script>
    <script src="{% static 'like-button.js' %}" id="url"></script>
    {% comment %} <script src="{% static 'search.js' %}" id="url"></script> {% endcomment %}
{% endblock scripts %}
    

