{% extends 'base.html' %}
{% load static %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
{% endblock head %}
    

{% block content %}    
<a href="{% url 'diary' %}" id="return-to-diary">
    <span class="material-symbols-outlined">arrow_back</span>Back to your diary
</a>
<div id="diary-entry">
    <div id="diary" class="half">
        <form id="diary-form" value="{{slug}}">
            <div id="diary-form-input-div">
                {% if diary_html %}
                    {{diary_html}}
                {% else %}
                    <p id="to_remove">You have no items yet</p>
                {% endif %}
                
            </div>
            <button>Submit</button>
        </form>
        <h3>Add element to diary</h3>
        <div id="suggested-elements">
        <h4>Suggested elements...</h4>
        {% for key, value in suggestions.items  %}
            <form id="{{key}}">
                <span id={{key}} data_type={{value.0}}>{{value.2}}</span>
                <button onclick="addDiaryElement('{{key}}')">Add</button>
            </form>
        {% endfor %}
        </div>
        
        <form id="diary-element-form">
            <h4>Add your own...</h4>
            <div>
                <label for="diary-element">New Element:</label>
                <div>
                    <input type="text" id="diary-element" name="diary-element" placeholder="Name...">
                    <select name="data-type" id="diary-element-type">
                        <option value="date">Date</option>
                        <option value="text">Text</option>
                        <option value="number">Number</option>
                    </select>
                </div>
                
            </div>
            <button onclick="addDiaryElement()">Add</button>
        </form>
    </div>
    <div id="coffee" class="half">
        {% include 'long_coffee_display_template.html' with coffee=coffee coffee_link=True%}
    </div>
</div>

{% endblock content %}

{% block scripts %}
        
<script>
    var edit_diary_url = "{% url 'edit_diary' 1 %}".replace("1",'')
    var check_diary_header_url = "{% url 'check_diary_header' %}"
    var like_url = "{% url 'like_item' 1 %}".replace('1','')
    var bookmark_url = "{% url 'bookmark_coffee' 1 %}".replace('1','')
    var get_single_diary_entry = "{% url 'get_single_diary_entry' 1 %}".replace('1','')
    var csrfToken = "{{ csrf_token }}";
</script>
<script src="{% static 'diary-entry.js' %}" id="url"></script>
<script src="{% static 'generate-html.js' %}" id="url"></script>
<script src="{% static 'bookmark.js' %}" id="url"></script>
<script src="{% static 'star-rating.js' %}" id="url"></script>
<script src="{% static 'like-button.js' %}" id="url"></script>
<script>
    // event listenrer to clear up display names for coffee
    document.addEventListener('DOMContentLoaded', function(){
        console.log("Running")
        var keys = document.getElementsByClassName('key')
        console.log(keys.length)
        for(let x=0;x<keys.length;x++){
            const current_html=keys[x].innerHTML
            var new_html =current_html.replace(/[_-]/,' ').replace('\s\d{2}:\d{2}:\d{2}.\d{6}','')
            var first_letter = new_html.charAt(0).toUpperCase()
            keys[x].innerHTML=first_letter+new_html.slice(1)
        }



    })
    

</script>

{% endblock scripts %}
