<div class="modal fade" id="editCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit 
                {% if comment %}
                    Comment
                {% else %}
                    Review
                {% endif %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                    <form class="edit-form" record_id="{{id}}" record_type="{{record_type}}">

                
                    {% csrf_token %}
                    <input type="hidden" id="hidden" name="reply" value="{{coffee_slug}}">
                    <div>
                        <textarea name="content" cols="60" rows="10" required id="id_content">{{content}}</textarea>
                    </div>
                    {% if not comment %}
                        <input type="hidden" name="rating" placeholder="Rating" required id="id_rating" value="{{rating}}">
                        <div class="rating-holder edit selected" rating="{{rating}}">
                            <span class="new_star" value="1"></span>
                            <span class="new_star" value="2"></span>
                            <span class="new_star" value="3"></span>
                            <span class="new_star" value="4"></span>
                            <span class="new_star" value="5"></span>
                        </div>
                    {% endif %}
                    
                    <button>SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</div>