{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div id="welcome-div">
    <div class="video-holder">
      <video autoplay muted loop id="coffee-pour">
        <source src="/media/videos/coffee_pour.mp4" type="video/mp4">
      </video>
      <button id="play-pause-button"><span class="material-symbols-outlined">
        pause_circle
        </span></button>
    </div>
    <div id="welcome-info">
      <h3 id="index-title">Welcome to the world of coffee</h3>
      <form class="search-bar" action="{% url 'all_coffees' %}">
        <input class="search-text" type="text" value="{{search_query}}" name="search" placeholder="Search by coffee or roaster..." >
        <button class="search-button" type="submit"><span class="material-symbols-outlined">search</span></button>
      </form>
    </div>
  </div>
  <h4 class="sub-heading">New Coffees</h4>
  <div class="recent-coffee-div">
    {% for coffee in most_recent_coffees %}
      {% include 'short_coffee_display_template.html' with coffee=coffee diary=True in_diary=coffee.in_diary%}
    {% endfor %}
  </div>
  <h4 class="sub-heading">Top Rated Coffees</h4>
  <div class="recent-coffee-div secondary-colour">
    {% for coffee in top_rated_coffees %}
      {% include 'short_coffee_display_template.html' with coffee=coffee diary=True in_diary=coffee.in_diary%}
    {% endfor %}
  </div>
  {% comment %} <p>Top Reviewed Coffees</p>
  <div class="recent-coffee-div">
    {% for coffee in top_reviewed_coffee %}
      {% include 'short_coffee_display_template.html' with coffee=coffee diary=True in_diary=coffee.in_diary %}
    {% endfor %}
  </div> {% endcomment %}

  <h4 class="sub-heading">New Reviews</h4>
  <div class="recent-review-div">
  {% for item in recent_reviews %}
    {% include 'review_template.html' with author=item.author review=item.review comment_count=item.comment_count home=True title=item.title roaster=item.roaster like_count=item.like_count is_liked=item.is_liked %}
  {% endfor %}
  </div>

  <h4 class="sub-heading">Popular Reviews</h4>
  <div class="popular-review-div secondary-colour">
  {% for item in popular_reviews %}
    {% include 'review_template.html' with author=item.author review=item.review comment_count=item.comment_count home=True title=item.title roaster=item.roaster like_count=item.like_count is_liked=item.is_liked%}
  {% endfor %}
  </div>

{% endblock content %}


{% block scripts %}
<script>
  var diary_url = "{% url 'add_to_diary' 1 %}".replace('1','')
  var like_url = "{% url 'like_item' 1 %}".replace('1','')
  var bookmark_url = "{% url 'bookmark_coffee' 1 %}".replace('1','')
  var csrfToken = "{{ csrf_token }}";
  var diary_page=false
</script>
<script src="{% static 'like-button.js' %}" id="url"></script>
<script src="{% static 'star-rating.js' %}" id="url"></script>
<script src="{% static 'add-diary.js' %}" id="url"></script>
<script src="{% static 'bookmark.js' %}" id="url"></script>
<script src="{% static 'truncate-text.js' %}" id="url"></script>
<script>
  var play_pause_btn = document.getElementById('play-pause-button')
  var video = document.getElementById('coffee-pour')
  play_pause_btn.addEventListener('click', function(){
    if(video.paused){
      video.play()
      play_pause_btn.querySelector('span').textContent="pause_circle"
    } else {
      video.pause()
      play_pause_btn.querySelector('span').textContent="play_circle"
    }
  })
</script>

{% endblock scripts %}
  
  

