{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="profile-holder">
        <h2>{{username}}</h2>
        <img class="profile-image" src="{{profile.profile_image.url}}" alt="" style="max-height:200px"/>
    
        {% if not profile.bio %}
            
            {% if edit_access %}
                <p>You have no bio</p>    
            {% else %}
                <p>The user doesn't have a bio</p>
            {% endif %}
                
            
        {% else %}
            <div class="center">
                {{profile.bio|linebreaks}}
                {% if edit_access %}
                    <a href="{% url 'edit_profile' slug=profile.slug%}"><span class="material-symbols-outlined">edit</span></a>
                {% endif %}
            </div>
            
        {% endif %}
    </div>
    
    <h4 class="sub-heading">Your Likes<span class="material-symbols-outlined" id="user_likes">arrow_forward</span></h4>
    <div class="recent-coffee-div">
        {% for like in likes_list %}
            {% include 'short_coffee_display_template.html' with coffee=like diary=True in_diary=like.in_diary%}
        {% endfor %}
    </div>


    <h4 class="sub-heading">Your Saves<span class="material-symbols-outlined" id="user_bookmarks">arrow_forward</span></h4>
    <div class="recent-coffee-div secondary-colour">
        {% for bookmark in bookmark_coffees %}
            {% include 'short_coffee_display_template.html' with coffee=bookmark diary=True in_diary=bookmark.in_diary%} 
        {% endfor %}
    </div>


    <h4 class="sub-heading">Your Reviews<span class="material-symbols-outlined">arrow_forward</span></h4>
    <div class="recent-review-div">
    {% for item in user_reviews %}
        {% include 'review_template.html' with author=item.author review=item.review comment_count=item.comment_count home=True title=item.title roaster=item.roaster like_count=item.like_count is_liked=item.is_liked%}
    {% endfor %}
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        var diary_url = "{% url 'add_to_diary' 1 %}".replace('1','')
        var like_url = "{% url 'like_item' 1 %}".replace('1','')
        var bookmark_url = "{% url 'bookmark_coffee' 1 %}".replace('1','')
        var csrfToken = "{{ csrf_token }}";
        var diary_page=false
    </script>
    <script src="{% static 'like-button.js' %}" id="url"></script>
    <script src="{% static 'star-rating.js' %}" id="url"></script>
    <script src="{% static 'add-diary.js' %}" id="url"></script>
    <script src="{% static 'bookmark.js' %}" id="url"></script>
    <script src="{% static 'truncate-text.js' %}" id="url"></script>
    <script src="{% static 'profile-search.js' %}" id="url"></script>

{% endblock scripts %}