{% extends 'base.html' %}
{% load static %}
    
{% block content %}
    <a href="{% url 'coffee' review.review.0.coffee_slug %}">Back to coffee...</a>
    <div id="coffee">
        <h4>{{coffee_title}} - {{coffee_roaster}}</h4>
        <img src="{{coffee_image}}" style="max-height:150px"/>
    </div>
    <div class="review-container">
        <div class="review-div">
            <p>User: {{review.review.0.author}}</p>    
            <p>{{review.review.0.content}}</p>
            <div class="rating-holder" rating={{review.review.0.rating}} review_id={{review.review.0.id}} ></div>
            
            {% if user.is_authenticated %}  
                <div class="action-box">
                    {% include 'like_template.html' with item=review.review.0.id type="review" is_liked=review.review.1 like_count=review.review.2.like_count %}

                    <button onclick="toggleDiv(this)" class="btn">
                        <i class="fa-regular fa-comment"></i>
                        <span class="comment-count">{{review.review.2.comment_count}}</span>
                    </button>
                    {% if review.review.3 %}
                        <span class="material-symbols-outlined delete-review" value={{review.review.0.id}}>delete</span>
                    {% endif %}
                </div>
                <div class="reply-box" style="display:none">
                    <form method="POST" class="comment-form">
                        {% csrf_token %}
                        <input type="hidden" id="hidden" name="comment" value="{{review.review.0.id}}">
                        {{comment_form}}
                        <button>SUBMIT</button>
                    </form> 
                </div>
            {% endif %}
        </div>
        {% if review.comments %}
        <span class="outer-comments-span" id="review-comments" onclick="showOuterComments(this)">Show comments...</span>
                {% for comments in review.comments %}
                    <div class="outer-comment-div">
                        {% include 'comment_reply_template.html' with comment=comments %}
                    </div>
                {% endfor %}
            
        {% endif %}
    </div>
{% endblock content %}
        

{% block scripts %}
    <script>
        var like_url = "{% url 'like_item' 1 %}".replace('1','')
        var bookmark_url = "{% url 'bookmark_coffee' 1 %}".replace('1','')
        var create_comment_url = "{% url 'create_comment' 1 %}".replace('1','')
        var create_review_url = "{% url 'create_review' 1 %}".replace('1','')
        var delete_comment_url = "{% url 'delete_comment' 1 %}".replace('1','')
        var delete_review_url = "{% url 'delete_review' 1 %}".replace('1','')
        var diary_url = "{% url 'add_to_diary' 1 %}".replace('1','')
        var csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'coffee.js' %}" id="url"></script>
    <script>
        //below opens the first layer of comments when the page is loaded
        var span = document.getElementById('review-comments')
        if(span){
            showOuterComments(span)
        }
    </script>
{% endblock scripts %}
    