{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock head %}
    
{% block content %}
    <a id="return-to-coffee" href="{% url 'coffee' review.review.0.coffee_slug %}">Back to coffee...</a>
    <div id="coffee">
        <h4>{{coffee_title}} - {{coffee_roaster}}</h4>
        <img src="{{coffee_image}}" style="max-height:150px"/>
    </div>
    <div class="review-container">

        {% include 'review_template.html' with author=review.review.0.author review=review.review.0 comment_count=review.review.2.comment_count like_count=review.review.2.like_count is_liked=review.review.1 comment_form=comment_form user_is_author=review.review.3 review_page=True %}

        {% if review.comments %}
        <span class="outer-comments-span" id="review-comments" onclick="showOuterComments(this)">Show comments...</span>
                {% for comments in review.comments %}
                    <div class="outer-comment-div">
                        {% include 'comment_reply_template.html' with comment=comments %}
                    </div>
                {% endfor %}
            
        {% endif %}
    </div>
{% endblock content %}
        

{% block scripts %}
    <script>
        var like_url = "{% url 'like_item' 1 %}".replace('1','')
        var bookmark_url = "{% url 'bookmark_coffee' 1 %}".replace('1','')
        var create_comment_url = "{% url 'create_comment' 1 %}".replace('1','')
        var create_review_url = "{% url 'create_review' 1 %}".replace('1','')
        var delete_comment_url = "{% url 'delete_comment' 1 %}".replace('1','')
        var delete_review_url = "{% url 'delete_review' 1 %}".replace('1','')
        var diary_url = "{% url 'add_to_diary' 1 %}".replace('1','')
        var edit_review="{% url 'edit_review' 1 %}".replace('1','')
        var csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'comments.js' %}" id="url"></script>
    <script src="{% static 'star-rating.js' %}" id="url"></script>
    <script src="{% static 'like-button.js' %}" id="url"></script>
    <script src="{% static 'edit-forms.js' %}" id="url"></script>
    <script>
        //below opens the first layer of comments when the page is loaded
        var span = document.getElementById('review-comments')
        if(span){
            showOuterComments(span)
        }
    </script>
{% endblock scripts %}
    